---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

const { name, description, site, repository, technologies, imagePath } =
    Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/dev-mode/*.{jpeg,jpg,png,gif}",
);
if (!images[imagePath])
    throw new Error(
        `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`,
    );
---

<article
    class="bg-gray-50 rounded-lg border-2 border-slate-200 border-solid flex flex-col overflow-hidden"
>
    <div class="bg-zinc-100 h-36 relative overflow-hidden">
        <Image
            src={images[imagePath]()}
            alt="holi"
            class="w-[80%] object-cover relative top-4 object-top mx-auto rounded-lg"
        />
    </div>
    <div class="p-4">
        <div class="flex-grow">
            <h2 class="font-heading font-bold text-2xl">{name}</h2>
            <p>{description}</p>
        </div>
        <div class="flex gap-1">
            {
                site && (
                    <a
                        title="Live site"
                        class="font-bold text-blue-500 hover:text-blue-600"
                        href={site}
                        target="_blank"
                    >
                        <span class="material-symbols-outlined">language</span>
                    </a>
                )
            }
            {
                repository && (
                    <a
                        title="Code repository"
                        class="font-bold text-blue-500 hover:text-blue-600"
                        href={repository}
                        target="_blank"
                    >
                        <span class="material-symbols-outlined">code</span>
                    </a>
                )
            }
        </div>
        <div class="flex gap-2 flex-wrap">
            {
                technologies.map((techonology) => {
                    return (
                        <div>
                            <span class="rounded-xl px-2 py-1 bg-slate-200 text-slate-700">
                                {techonology}
                            </span>
                        </div>
                    );
                })
            }
        </div>
    </div>
</article>
