---
import BaseLayout from "../layouts/BaseLayout.astro";

const devProjects = [
  {name: "Mexican recipes",
  site: "https://recetasmexicanas.netlify.app/",
  repository: "https://github.com/kike9978/recetario-mexicano",
  description:"A collection of Mexican recipes",
  techonologies: ["Astro","JavaScript", "TailwindCss"],
},
  {name: "Restaurant page",
  site: "https://ktop-restaurant-page.netlify.app/",
  repository: "https://github.com/kike9978/top-restaurant-page",
  description:"A restaurant static page",
  techonologies: ["JavaScript","HTML", "CSS"],
},
  {name: "Tic Tac Toe",
  site: "https://topjsgatok.netlify.app/",
  repository: "https://github.com/kike9978/js-game-test",
  description:"The classic game made with vanilla javascript",
  techonologies: ["JavaScript","HTML", "CSS"],
},
  {name: "Course compendium",
  site: null,
  repository: "https://github.com/kike9978/personal-course-library",
  description:"A computer application to get access to all of your local courses",
  techonologies: ["Electron","React", "Vite", "Electron-vite", "CSS"],
},
  {name: "Calculator",
  site: "https://k-calculator.netlify.app/",
  repository: "https://github.com/kike9978/calculator",
  description:"A calculator app made with vanilla JS",
  techonologies: ["JavaScript","HTML", "CSS"],
},
  {name: "Cofee shop website",
  site: "https://k-patio-cafe-lp.netlify.app/",
  repository: "https://github.com/kike9978/patio-cafe-lp",
  description:"Responsive static webpage for a coffee shop.",
  techonologies: ["HTML","CSS"],
},
  {name: "Responsive product card",
  site: "https://fem-product-review-card-component.netlify.app/",
  repository: "https://github.com/kike9978/fem-product-review-card",
  description:"Showcase of a responsive card UI Component",
  techonologies: ["HTML","CSS"],
},
  {name: "Book library",
  site: "https://ktoplibrary.netlify.app/",
  repository: "https://github.com/kike9978/top-project-library",
  description:"A web app to track your book records",
  techonologies: ["JavaScript","HTML", "CSS", "Webpack"],
},
  {name: "Pixel Art Maker",
  site: "https://k-pixel-art.netlify.app/",
  repository: "https://github.com/kike9978/pixel-art",
  description:"A fun and colorful etch-a-sketch",
  techonologies: ["JavaScript","HTML", "CSS"],
},
  {name: "Rock, Paper, Scissors",
  site: "https://k-piedra-papel-tijeras.netlify.app/",
  repository: "https://github.com/kike9978/rock-paper-scissors",
  description:"The classic game meets a strategy game",
  techonologies: ["JavaScript","HTML", "CSS"],
},
  {name: "Naves chidas",
  site: "https://colombofilo.itch.io/naves-chidas",
  repository: null,
  description:"A fun space shooter, are you up to the challenge",
  techonologies: ["Unity","Photoshop", "Maya"],
},
]
---

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<BaseLayout title="Dev mode">
  <h1 class="font-heading font-bold text-3xl">Dev Portfolio</h1>
  <p>A collection of my personal dev projects, ranging from web apps, static sites and videogames</p>
<div class="grid grid-cols-4 gap-2">
  {devProjects.map(project => {
    return <article class="p-4 bg-gray-50 rounded-lg border-2 border-black border-solid flex flex-col">
      <img src="./" alt="">
    <div class="flex-grow">
      <h2 class="font-heading font-bold text-2xl">{project.name}</h2>
      <p>{project.description}</p>
    </div>
    <div class="flex gap-1">
      {project.site && <a title="Live site" class="font-bold text-blue-500 hover:text-blue-600" href={project.site} target="_blank"><span class="material-symbols-outlined">
      language
      </span></a>}
      {project.repository && <a title="Code repository" class="font-bold text-blue-500 hover:text-blue-600" href={project.repository} target="_blank"><span class="material-symbols-outlined">
      code
      </span></a>}
    </div>
    <p>Techonologies:</p>
    <div class="flex gap-2 flex-wrap">
      {project.techonologies.map(techonology => {
        return <div><span class="rounded-sm bg-teal-800 px-2 py-1 text-white">{techonology}</span></div>
      })}
    </div>
    </article>})}
</div>
</BaseLayout>