---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

const { number, title, link = "/", imagePath } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/studies/*.{jpeg,jpg,png,gif}",
);
if (!images[imagePath])
    throw new Error(
        `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`,
    );

const deg = Math.random() * 100;
const rounded = deg.toFixed(2);
---

<div class=`w-6 h-6 rotate-[${rounded}deg] bg-red-500`></div>
<div class=`w-6 h-6 rotate-[22.43deg] bg-blue-500`></div>
<article class=`relative rotate-[${rounded}deg]`>
    <a href={link} class="flex justify-end flex-col h-full">
        <Image src={images[imagePath]()} alt="hola" />
        <div
            class="w-full h-full absolute flex flex-col justify-end p-7 items-center"
        >
            <div class="absolute top-6 left-6 text-6xl font-heading font-bold">
                {number}
            </div>
            {
                title
                    .split(" ")
                    .map((word) => (
                        <h2 class="bg-black text-white font-heading tracking-[-0.07rem] text-4xl font-bold w-fit leading-[.80em] text-center">
                            {word}
                        </h2>
                    ))
            }
        </div>
    </a>
</article>

<!-- <div class="
            w-[365px]
            h-[512.20px]
            rotate-[-5.48deg]
            shadow"
        >
            <div class="w-[365px] h-[511.07px] left-0 top-0 absolute">
                <img
                    class="w-[795.62px] h-[521.54px] left-[-173.14px] top-[-9.70px] absolute"
                    src="https://via.placeholder.com/796x522"
                />
            </div>
            <div
                class="left-[45.31px] top-[25.70px] absolute text-white text-[61.17px] font-bold font-['Karla'] uppercase leading-[53.95px]"
            >
                2
            </div>
            <div
                class="p-[3.04px] left-[223.64px] top-[415.13px] absolute origin-top-left rotate-[8.13deg] bg-black justify-center items-center gap-[3.04px] inline-flex"
            >
                <div
                    class="text-white text-[41.65px] font-bold font-['Cabinet Grotesk Variable'] uppercase leading-[30.84px]"
                >
                    B2C
                </div>
            </div>
            <div
                class="p-[3.04px] left-[42.21px] top-[418.37px] absolute origin-top-left rotate-[-4.39deg] bg-black justify-center items-center gap-[3.04px] inline-flex"
            >
                <div
                    class="text-white text-[41.65px] font-bold font-['Cabinet Grotesk Variable'] uppercase leading-[30.84px]"
                >
                    Massive
                </div>
            </div>
            <div
                class="p-[3.04px] left-[18.49px] top-[446.45px] absolute origin-top-left rotate-[2.43deg] bg-black justify-center items-center gap-[3.04px] inline-flex"
            >
                <div
                    class="text-white text-[41.65px] font-bold font-['Cabinet Grotesk Variable'] uppercase leading-[30.84px]"
                >
                    Messaging
                </div>
            </div>
            <div
                class="p-[3.04px] left-[241.58px] top-[463.93px] absolute origin-top-left rotate-[-4.07deg] bg-black justify-center items-center gap-[3.04px] inline-flex"
            >
                <div
                    class="text-white text-[41.65px] font-bold font-['Cabinet Grotesk Variable'] uppercase leading-[30.84px]"
                >
                    App
                </div>
            </div>
        </path> -->
