---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

const { number, title, link = "/", imagePath, commingSoon } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/studies/*.{jpeg,jpg,png,gif}",
);
if (!images[imagePath])
    throw new Error(
        `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`,
    );
---

<article class=`relative transition-all ${commingSoon && "grayscale"}`>
    {
        commingSoon && (
            <div class="absolute h-full w-full z-10 bg-[radial-gradient(var(--tw-gradient-stops))] from-[rgba(20,20,20,_1)] to-80% to-[rgba(20,20,20,_0)] flex flex-col items-center justify-center">
                <p class="text-white font-heading text-5xl text-center font-bold w-11/12 uppercase">
                    Comming soon!
                </p>
            </div>
        )
    }

    <a href={link} class="flex justify-end flex-col h-full">
        <Image src={images[imagePath]()} alt="hola" />
        <div
            class="w-full h-full absolute flex flex-col justify-end p-7 items-center"
        >
            <span
                class="absolute top-12 left-12 text-6xl font-heading text-white font-bold"
            >
                <p class="stroke">
                    {number}
                </p>
                <p class="absolute top-0">
                    {number}
                </p>
            </span>
            {
                title
                    .split(" ")
                    .map((word) => (
                        <h2 class="bg-black text-white font-heading tracking-[-0.07rem] text-4xl font-bold w-fit leading-[.80em] text-center">
                            {word}
                        </h2>
                    ))
            }
        </div>
    </a>
</article>
<style>
    .hover {
        rotate: 0deg !important;
    }

    .stroke {
        -webkit-text-stroke: 10px black;
    }
</style>

<script>
    const articles = document.querySelectorAll("article");
    function getRandomDegs() {
        const deg = Math.random() * 12;
        const extendedRange = deg - 6;
        return extendedRange.toFixed(2) + "deg";
    }

    articles.forEach((article) => {
        article.style.rotate = getRandomDegs();
        article.addEventListener("mouseenter", () => {
            article.classList.add("hover");
        });
        article.addEventListener("mouseleave", () => {
            article.classList.remove("hover");
        });
    });
</script>
