---
import BaseLayout from "../../layouts/BaseLayout.astro";

import image1 from "../../assets/studies/dashboard-redesign/dashboard-redesign01.png";
import image2 from "../../assets/studies/dashboard-redesign/dashboard-redesign02.png";
import image3 from "../../assets/studies/dashboard-redesign/dashboard-redesign03.png";
import image4 from "../../assets/studies/dashboard-redesign/dashboard-redesign04.png";
import image5 from "../../assets/studies/dashboard-redesign/dashboard-redesign05.png";
import duckVector from "../../assets/resting-duck.svg";
---

<BaseLayout>
    <main
        class="grid grid-cols-1 md:grid-cols-12 gap-4 bg-neutral-100 text-cyan-950 text-lg font-normal leading-[29.34px] w-full"
    >
        <h1
            class="text-[52px] font-bold leading-[67.60px] md:col-span-8 md:col-start-2 font-heading"
        >
            Hydroponic Farm Admin Dashboard Redesign
        </h1>
        <div class="md:col-span-6 md:col-start-2">
            <h2
                class="text-cyan-950 text-opacity-80 text-base font-normal font-heading leading-snug"
            >
                Overview
            </h2>
            <p>
                A leading hydroponics company needed a complete overhaul of
                their admin dashboard. The existing system, while functional,
                struggled with a cluttered interface, a confusing information
                hierarchy, and numerous unused pages and modules. This led to
                user frustration and hindered productivity across all
                departments.
            </p>
            <p>
                I played a key role in the UX/UI redesign, focusing on
                streamlining workflows, improving usability, and building a
                scalable foundation for future growth.
            </p>
        </div>
        <div class="md:col-span-2">
            <h2
                class="text-cyan-950 text-opacity-80 text-base font-normal font-heading leading-snug"
            >
                Role
            </h2>
            <ul>
                <li class="font-bold">UX Design</li>
                <li>Visual Design</li>
                <li>UX Writing</li>
                <li>Workshop facilitator</li>
                <li>Prototyping</li>
                <li>Testing</li>
                <li>Frontend assistant</li>
                <li>Animator</li>
                <li>Documentation</li>
            </ul>
        </div>

        <div class="md:col-span-2">
            <h2
                class="text-cyan-950 text-opacity-80 text-base font-normal font-heading leading-snug"
            >
                Date
            </h2>
            <div>2022 - 2024</div>
        </div>
        <small
            class="md:col-start-2 md:col-span-3 text-cyan-950 text-opacity-70 text-sm font-normal leading-[22.82px]"
        >
            *Designs are blurred due to NDA
        </small>

        <img
            class="w-[1440px] h-[439px] col-start-1 md:col-span-12"
            src={image1.src}
        />

        <h2
            class="md:col-span-4 md:col-start-2 text-[32px] font-bold font-heading leading-[40.96px]"
        >
            Navigating a Complex System
        </h2>
        <p
            class="md:col-span-6 text-cyan-950 text-lg font-normal leading-[29.34px]"
        >
            Our initial focus was on understanding the existing platform and its
            user base. Through workshops and user interviews, we discovered
            significant challenges for various user roles. The sheer volume of
            data was overwhelming, presented in a dense layer of technical
            jargon that made it difficult for non-technical users to understand.
            For me personally, traversing this complex terminology was a
            challenge, but it also helped solidify the depth and scale of the
            project. This understanding became crucial in designing a solution
            that catered to diverse user needs.
        </p>
        <img class="w-full col-start-1 md:col-span-12" src={image2.src} />
        <div class="md:col-start-2 md:col-span-4">
            <h2
                class="text-cyan-950 text-[32px] font-bold font-heading leading-[40.96px]"
            >
                User-Centered Solutions
            </h2>
            <p class="text-cyan-950 text-lg font-normal leading-[29.34px]">
                To address these challenges, we implemented a multi-faceted
                approach. Data prioritization based on user roles ensured each
                department could easily find and interpret the most critical
                information for their work. While we couldn't completely
                eliminate technical jargon, we strived to present it in a way
                that was clear and understandable to a broader user base.
                Development efforts were prioritized on high-impact features,
                including a robust shipment tracking system and performance
                dashboards. These empowered users to streamline workflows and
                make data-driven decisions.
            </p>
        </div>
        <img src={image3.src} alt="" class="md:col-start-7 md:col-span-4" />
        <img src={image4.src} alt="" class="col-start-1 md:col-span-12" />
        <div
            class="col-start-1 md:col-span-12 bg-slate-300 flex-col justify-center items-start grid grid-cols-1 md:grid-cols-12 gap-4"
        >
            <h2
                class="text-[22px] font-bold font-heading leading-7 md:col-start-4 md:col-span-6"
            >
                Building for the Future
            </h2>
            <p
                class="text-lg font-normal leading-[29.34px] md:col-start-4 md:col-span-6"
            >
                The redesigned platform wasn't just about aesthetics; it was
                about building a solid foundation for future growth. We
                established a comprehensive design system with reusable UI
                components and consistent interaction patterns. This ensured a
                cohesive user experience across the entire platform. Responsive
                design principles were also incorporated, guaranteeing optimal
                usability on desktops and tablets, catering to diverse work
                environments. Throughout the process, close collaboration with
                developers was maintained, ensuring technical feasibility and a
                seamless transition from design to implementation.
            </p>
        </div>
        <h2
            class="md:col-start-2 md:col-span-4 text-[32px] font-bold font-heading leading-[40.96px]"
        >
            Lessons Learned
        </h2>
        <p
            class="md:col-start-7 md:col-span-5 text-cyan-950 text-lg font-normal leading-[29.34px]"
        >
            While the redesigned platform delivered significant improvements,
            there were areas where the process could have been further
            optimized. Open and continuous communication across all teams would
            have streamlined collaboration and ensured everyone was aligned on
            goals. Additionally, a focus on setting realistic design goals at
            the outset, along with readily available code documentation, would
            have facilitated a smoother development process. Ultimately, this
            project solidified the importance of listening to user feedback at
            every stage of the design process. Understanding user pain points
            should be the driving force behind all design decisions, not simply
            making things look aesthetically pleasing.
        </p>

        <img class="col-start-1 md:col-span-12" src={image5.src} />
        <div
            class="flex justify-center items-center flex-col md:col-span-6 md:col-start-4"
        >
            <p
                class="text-center text-cyan-950 text-lg font-normal leading-[29.34px]"
            >
                This project showcased my ability to navigate complex systems,
                translate user needs into actionable design solutions, and
                collaborate effectively within a cross-functional team. It also
                highlighted my understanding of the importance of continuous
                learning and improvement in the design process.
            </p>
            <img class="w-10 rotate-[2.47deg]" src={duckVector.src} />
        </div>
    </main>
</BaseLayout>
