---
import FullWidthImage from "../../components/cases/FullWidthImage.astro";

const {
    titleCase,
    overview,
    roles,
    date,
    coverImg = "https://t3.ftcdn.net/jpg/02/48/42/64/240_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg",
    imgAlt,
} = Astro.props;
---

<h1
    class="text-[52px] font-bold leading-[67.60px] mt-12 mb-6 md:mb-20 md:col-span-8 md:col-start-2 font-heading"
>
    {titleCase}
</h1>
<div class="md:col-span-6 md:col-start-2">
    <h2
        class="text-cyan-950 text-opacity-80 text-base font-normal font-heading leading-snug"
    >
        Overview
    </h2>
    {overview.map((paragraph) => <p class="mb-7 last:mb-0">{paragraph}</p>)}
</div>
<div class="md:col-span-2 mt-6 md:mt-0">
    <h2
        class="text-cyan-950 text-opacity-80 text-base font-normal font-heading leading-snug"
    >
        Role
    </h2>
    <ul>
        {roles.map((role) => <li class="first:font-bold">{role}</li>)}
    </ul>
</div>

<div class="md:col-span-2 mt-6 md:mt-0">
    <h2
        class="text-cyan-950 text-opacity-80 text-base font-normal font-heading leading-snug"
    >
        Date
    </h2>
    <p>{date}</p>
</div>
<small
    class="md:col-start-2 md:col-span-3 text-cyan-950 text-opacity-70 text-sm font-normal leading-[22.82px]"
>
    *Designs are blurred due to NDA
</small>

<FullWidthImage src={coverImg} alt={imgAlt} />
